In [4]:
import pandas as pd
import os
from pylab import *

In [2]:
src_path = "./imgs/"

# ## Get image paths and setup chunk paths:

image_type = (".png", ".jpg", ".JPG", ".jpeg", ".PNG")
 
image_paths = []  
for root, dirs, files in os.walk(src_path):
    image_paths.extend([os.path.join(root, f) for f in files if f.endswith(image_type)])

In [5]:
df = pd.DataFrame({"image_paths": array(image_paths)})

In [13]:
df["date.diff"] = [image_path.split("imgs/")[-1].split(".png")[0] for image_path in image_paths]

In [12]:
image_paths[0].split("imgs/")[-1].split(".png")[0]

'2012-04-03 - 2012-08-07'

In [15]:
df.head()

                          image_paths                date.diff
0  ./imgs/2012-04-03 - 2012-08-07.png  2012-04-03 - 2012-08-07
1  ./imgs/2012-04-03 - 2012-11-06.png  2012-04-03 - 2012-11-06
2  ./imgs/2012-04-03 - 2013-01-26.png  2012-04-03 - 2013-01-26
3  ./imgs/2012-04-03 - 2013-02-25.png  2012-04-03 - 2013-02-25
4  ./imgs/2012-04-03 - 2013-03-24.png  2012-04-03 - 2013-03-24

In [17]:
pairs_df = pd.read_csv("../../processedData/pairwise-differences/genus-pairwise-time-diff-high-abundant-BAD-DATES-REMOVED.csv")

In [18]:
pairs_df.head()

,date.difference,mag.dist,date.diff,Hydrogenoanaerobacterium,Granulicatella,Coprococcus,Phascolarctobacterium,Victivallis,Dorea,Desulfosporosinus,...,Rahnella,Hafnia,Yersinia,Francisella,Methylobacter,Rhodobacter,Dechloromarinus,Ewingella,Thermus,Nitrosomonas
0,467,0.715959,2012-04-03 - 2013-07-14,0,0,0.001145,0.006248,0.000018,0.000424,0.000000,...,0,0,0.000000,0,0,0,0,0.000000,0,0
1,494,0.627268,2012-04-03 - 2013-08-10,0,0,0.000889,0.003382,0.000207,0.003190,0.000000,...,0,0,0.000008,0,0,0,0,0.000000,0,0
2,518,0.562961,2012-04-03 - 2013-09-03,0,0,0.000876,0.001851,0.000361,0.003758,0.000000,...,0,0,0.000000,0,0,0,0,0.000019,0,0
3,539,0.611308,2012-04-03 - 2013-09-24,0,0,0.000048,0.003147,0.000382,0.000529,0.000032,...,0,0,0.000000,0,0,0,0,0.000000,0,0
4,572,0.822889,2012-04-03 - 2013-10-27,0,0,0.005938,0.001723,0.000123,0.010460,0.000000,...,0,0,0.000000,0,0,0,0,0.000000,0,0

In [19]:
res = pd.merge(pairs_df, df)

In [22]:
res.shape

(561, 146)

In [24]:
pairs_df.shape

(561, 145)

In [25]:
df.shape

(561, 2)

In [30]:
microbiome_cols = array(set(res.columns.values) - set(['date.difference', 'mag.dist', 'date.diff','image_paths']))

In [28]:
res[['date.difference', 'mag.dist', 'date.diff']].head()

   date.difference  mag.dist                date.diff
0              467  0.715959  2012-04-03 - 2013-07-14
1              494  0.627268  2012-04-03 - 2013-08-10
2              518  0.562961  2012-04-03 - 2013-09-03
3              539  0.611308  2012-04-03 - 2013-09-24
4              572  0.822889  2012-04-03 - 2013-10-27

In [32]:
res.to_csv("pairwise_diff_imgs.csv", index=False)